# ── Django ──────────────────────────────────────────────────────────────────
DJANGO_SECRET_KEY=changez-moi-avec-une-cle-secrete-longue-et-aleatoire
DEBUG=False
ALLOWED_HOSTS=72.62.29.141,localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://72.62.29.141:2000,http://localhost:2000

# ── MySQL ───────────────────────────────────────────────────────────────────
MYSQL_ROOT_PASSWORD=root_password_a_changer
MYSQL_DATABASE=sst_db
MYSQL_USER=sst_user
MYSQL_PASSWORD=sst_password_a_changer
